extends layout

include bit/tut_card

block content
  h1 = title
  h3 Welcome to #{title}
  span Discover your learning interest
  hr
  h4 Popular tutorials:
  ul.thumbnails
    each tut in popular_tuts
      li
        +tut_card(tut)
  hr
  h4 New tutorials:
  ul.thumbnails
    each tut in new_tuts
      li
        +tut_card(tut)
