extends layout

block content
  div.row-fluid
    div.span9
      div
        h2 Path name
        div.path-node-title
          button.circle-badge(data-toggle="collapse", data-target="#path-node-1") 1
          span Topic 1
        div#path-node-1.collapse.in abc
        div.path-node-title
          button.circle-badge(data-toggle="collapse", data-target="#path-node-2") 2
          span Topic 2
        div#path-node-2.collapse.in abc
        div.path-node-title
          button.circle-badge(data-toggle="collapse", data-target="#path-node-3") 3
          span Topic 3
        div#path-node-3.collapse.in abc
    div.span3  
      div.well
          li
           i.icon-eye-open 
           span 1000
          li
           i.icon-thumbs-up 
           span 1000
          li
           i.icon-share 
           span 1000
  

