form.form-horizontal(action= "" , method= "POST")
  legend Create New Learning Path
  div.control-group
    label.control-label(for="pathDesc") Description
    div.controls
      textarea#pathDesc.span6(rows = "3", placeholder="Description", name ="description")
  div.control-group
    label.control-label(for="pathBase") Base
    div.controls
      input#tutTitle.span6(type="text" , placeholder="Requirements", name ="base")
  div.control-group
    label.control-label(for="node1") Steps
    div.controls
      input#pathNode1.span6(type="text",placeholder="...", name ="1")
  div.control-group
    div.controls
      a#control-button.btn.btn-primary.btn-small() 1 more step

  div.control-group
    label.control-label(for="pathGoal") Goal
    div.controls
      textarea#pathGoal.span6(rows = "3", placeholder="Goal", name ="goal")
  div.control-group
    div.controls
      button.span3.btn.btn-primary(type = "submit") Submit