form.form-horizontal(action= "" , method= "POST")
  legend Create New Tutorial
  div.control-group
    label.control-label(for="tutTitle") Title
    div.controls
      input#tutTitle.span6(type="text" , placeholder="Tutorial title", name ="title")
  div.control-group
    label.control-label(for="tutDescription") Description
    div.controls
      textarea#tutDescription.span6(rows="3", name="description" )
  div.control-group
    label.control-label(for="tutAuthor") Author (optional)
    div.controls
      input#tutAuthor.span6(type="text",placeholder="Author", name ="author")
  div.control-group
    label.control-label(for="tutUrl") Tutorial URL
    div.controls
      input#tutUrl.span6(type="text",placeholder="URL", name ="url")
  div.control-group
    label.control-label(for="tutImgUrl") Image Url (optional)
    div.controls
      input#tutImgUrl.span6(type="text",placeholder="Image Url", name ="imageUrl")
  div.control-group
    label.control-label(for="tutRequires") Dependencies
    div.controls
      input#tutRequires.span6(type="text", placeholder="Requires", name="requires")
  div.control-group
    label.control-label(for="tutAcquires") New skills
    div.controls
      input#tutAcquires.span6(type="text", placeholder="New skills", name="acquires")
  div.control-group
    div.controls
      button.span3.btn.btn-primary(type = "submit) Submit
