script(type='text/javascript', src='/javascripts/jquery.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.js')
script
  $(document).ready(function () {
   if ($("[rel=tooltip]").length) {
     $("[rel=tooltip]").tooltip();
     }
   });
script(type='text/javascript', src='/javascripts/jquery.tokeninput.js')
script(type='text/javascript', src='/javascripts/topic.autocomplete.js')
