li.span12
  div.search_item_bold_text
    sample Loops in Javascript
  .top_border_14
    span By 
    a James Dam
  .top_border_30
    a.btn.btn-info.btn-small(href="/?search=javascript") javascript
    a.btn.btn-primary.btn-small(href="/?search=java") java

  .bot_border_20
    span
      i.icon-thumbs-up
      b 1000
    span
      i.icon-eye-open
      b 1000
