li.span3
  div.thumbnail
    img.im(src="http://devtacular.com/images/article_icon_javascript.png")
    div.atext
      a sample heading
    div.tut-sub-by-wrap
      span By 
      a James Dam
    div.tut-sub-by-wrap
      span.label(href="/a") tag
      a.label(href="/a") tag
      a.label(href="/a") tag
      a.label(href="/a") tag
    dib.tut-sub-by-wrap
      span
        i.icon-thumbs-up
        b 1000
      span
        i.icon-eye-open
        b 1000