li.span12
  div
    sample Loops in Javascript
    span By
    a #{item.createdBy}
    a.btn.btn-info.btn-small(href="/?search=javascript") javascript
    a.btn.btn-primary.btn-small(href="/?search=java") java
    span
      i.icon-thumbs-up
      b 1000
    span
      i.icon-eye-open
      b 1000
