body {
  padding-top:60px;
  padding-bottom:40px;
  background:url(../images/background.png);
  overflow-y:scroll;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}