body {
  padding-top:60px;
  padding-bottom:40px;
  background:url(../images/background.png);
  overflow-y:scroll;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.im {
    height: 150px;
    width: 100%;
    border: solid 1px white;
    -o-object-fit: fill;
    -o-object-position: top center;
    object-fit: fill;
    object-position: top center;
}

.im:hover
{
opacity:0.5;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

.atext{
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tut-sub-by-wrap {
	padding-top: 4px;
	border-top: 1px solid #E2E2E2;
	margin-top: 4px;
	height:14px;
	line-height: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.top_border_14 {
  padding-top: 4px;
  border-top: 1px solid #E2E2E2;
  margin-top: 4px;
  height:14px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top_border_30 {
  padding-top: 4px;
  border-top: 1px solid #E2E2E2;
  margin-top: 4px;
  height:30px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bot_border_20 {
  padding-top: 2px;
  border-bottom: 2px solid #E2E2E2;
  margin-top: 2px;
  height:20px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search_item_bold_text {
  font-size: 25px;
  overflow: : hidden;
  text-align: left;

}